<script>
    $(document).ready(function () {
        function compare(a, b) {
            const versiona = a.version.toUpperCase();
            const versionb = b.version.toUpperCase();
            return versiona > versionb ? 1 : versiona < versionb ? -1 : 0;
        }

        $.getJSON("../versions.json").done(data => {
            const selectContainer = document.createElement("div");
            selectContainer.setAttribute("id", "select-container");

            const selectDropdown = document.createElement("select");
            selectDropdown.setAttribute("id", "select-dropdown");

            const currentVersionDisplayed = $("#revnumber")
                .text()
                .replace("version ", "");

            selectContainer.append(selectDropdown);

            $("#header .details").append(selectContainer);

            data.sort(compare);
            data.reverse();

            $.each(data, (index, value) => {
                selectDropdown.append(
                    new Option(
                        value.version,
                        value.version,
                        false,
                        currentVersionDisplayed === value.version
                    )
                );
            });

            $("#select-dropdown").on("change", event => {
                window.location.href = `../${event.target.value}`;
            });
        });
    });

    /* Tocbot dynamic TOC, works with tocbot 3.0.2 */
    let oldtoc = document.getElementById('toctitle').nextElementSibling;
    let newtoc = document.createElement('div');
    newtoc.setAttribute('id', 'tocbot');
    newtoc.setAttribute('class', 'js-toc');
    oldtoc.parentNode.replaceChild(newtoc, oldtoc);
    tocbot.init(
        {
            contentSelector: '#content',
            headingSelector: 'h1, h2, h3, h4',
            smoothScroll: false
        }
    );
    let handleTocOnResize = function () {
        let width = window.innerWidth
            || document.documentElement.clientWidth
            || document.body.clientWidth;
        if (width < 768) {
            tocbot.refresh({
                contentSelector: '#content',
                headingSelector: 'h1, h2, h3, h4',
                collapseDepth: 6,
                activeLinkClass: 'ignoreactive',
                throttleTimeout: 1000,
                smoothScroll: false
            });
        } else {
            tocbot.refresh({
                contentSelector: '#content',
                headingSelector: 'h1, h2, h3, h4',
                smoothScroll: false
            });
        }
    };
    window.addEventListener('resize', handleTocOnResize);
    handleTocOnResize();
</script>
